<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="/static/componentes.css" />-->
    <!--<link rel="stylesheet" href="/static/listars.css" />-->
    <link rel="stylesheet" href="/static/styler.css" />
    <link rel="stylesheet" href="/static/chatbot.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
    <title>Componentes de Red</title>
</head>
<body>
  <div>  
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <!-- Tu código de barra de navegación aquí -->
      <span class="navbar-text" align='center' alt="top" width="10px" height="10px">
        <image src='https://img.icons8.com/color/48/user.png' />
         {{ correo }}
      </span>    
      <div class="container-fluid">
        <img src="/static/image/logo.png" class="header__logo" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listar">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/resultados">Resultados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/componentes">Componentes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/estructura">Estructura</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Salir</a>
            </li>
          </ul>
          <span class="navbar-text">
          
          </span>
        </div>
      </div>
    </nav>
      </div>
      <div class="container-sm">
        <h1>Topología de la Red del Colegio</h1>
        <div class="network-diagram" id="network-diagram">

            <svg width="500" height="400">
                <!-- Router -->
                <image href="https://img.icons8.com/fluency/48/router.png" x="185" y="35" width="40" height="40" class="icon"/>
                <text x="200" y="75" dy="5" class="label">Router</text>

                <!-- Switch Principal -->
                <image href="https://img.icons8.com/color/48/internet-hub.png" x="185" y="85" width="30" height="30" class="icon"/>
                <text x="200" y="120" dy="5" class="label">Switch Principal</text>
                <line x1="200" y1="65" x2="200" y2="85" class="link"/>

                <!-- Switch Aula 1 -->
                <image href="https://img.icons8.com/color/48/internet-hub.png" x="85" y="185" width="30" height="30" class="icon"/>
                <text x="100" y="220" dy="5" class="label">Switch Aula 1</text>
                <line x1="200" y1="115" x2="100" y2="185" class="link"/>
                
                <!-- Switch Aula 2 -->
                <image href="https://img.icons8.com/color/48/internet-hub.png" x="285" y="185" width="30" height="30" class="icon"/>
                <text x="300" y="220" dy="5" class="label">Switch Aula 2</text>
                <line x1="200" y1="115" x2="300" y2="185" class="link"/>

                <!-- Switch Laboratorio -->
                <image href="https://img.icons8.com/color/48/internet-hub.png" x="85" y="235" width="30" height="30" class="icon"/>
                <text x="100" y="270" dy="5" class="label">Switch Laboratorio</text>
                <line x1="100" y1="215" x2="100" y2="235" class="link"/>

                <!-- Switch Biblioteca -->
                <image href="https://img.icons8.com/color/48/internet-hub.png" x="285" y="235" width="30" height="30" class="icon"/>
                <text x="300" y="275" dy="5" class="label">Switch Biblioteca</text>
                <line x1="300" y1="215" x2="300" y2="235" class="link"/>

                 <!-- Switch Secretaría -->
                <image href="https://img.icons8.com/color/48/internet-hub.png" x="285" y="300" width="35" height="35" class="icon"/>
                <text x="300" y="335" dy="5" class="label">Switch Secretaría</text>
                <line x1="300" y1="215" x2="300" y2="300" class="link"/>

                <!-- PC en Secretaría -->
               <image href="https://img.icons8.com/color/48/imac.png" x="185" y="335" width="30" height="30" class="icon"/>
               <text x="200" y="360" dy="5" class="label">PC Secretaría </text>
               <line x1="300" y1="305" x2="200" y2="335" class="link"/>

                <!-- PC en Aula 1 -->
                <image href="https://img.icons8.com/color/48/imac.png" x="35" y="185" width="30" height="30" class="icon"/>
                <text x="50" y="210" dy="5" class="label">PC 1</text>
                <line x1="100" y1="200" x2="50" y2="200" class="link"/>

                <image href="https://img.icons8.com/color/48/imac.png" x="135" y="185" width="30" height="30" class="icon"/>
                <text x="150" y="210" dy="5" class="label">PC 2</text>
                <line x1="100" y1="200" x2="150" y2="200" class="link"/>

                <!-- PC en Aula 2 -->
                <image href="https://img.icons8.com/color/48/imac.png" x="235" y="185" width="30" height="30" class="icon"/>
                <text x="250" y="210" dy="5" class="label">PC 3</text>
                <line x1="300" y1="200" x2="250" y2="200" class="link"/>

                <image href="https://img.icons8.com/color/48/imac.png" x="335" y="185" width="30" height="30" class="icon"/>
                <text x="350" y="210" dy="5" class="label">PC 4</text>
                <line x1="300" y1="200" x2="350" y2="200" class="link"/>

                <!-- PCs en Laboratorio -->
                <image href="https://img.icons8.com/color/48/imac.png" x="35" y="235" width="30" height="30" class="icon"/>
                <text x="50" y="260" dy="5" class="label">PC 5</text>
                <line x1="100" y1="250" x2="50" y2="250" class="link"/>

                <image href="https://img.icons8.com/color/48/imac.png" x="135" y="235" width="30" height="30" class="icon"/>
                <text x="150" y="260" dy="5" class="label">PC 6</text>
                <line x1="100" y1="250" x2="150" y2="250" class="link"/>

                <!-- PCs en Biblioteca -->
                <image href="https://img.icons8.com/color/48/imac.png" x="235" y="235" width="30" height="30" class="icon"/>
                <text x="250" y="260" dy="5" class="label">PC 7</text>
                <line x1="300" y1="250" x2="250" y2="250" class="link"/>

                <image href="https://img.icons8.com/color/48/imac.png" x="335" y="235" width="30" height="30" class="icon"/>
                <text x="350" y="260" dy="5" class="label">PC 8</text>
                <line x1="300" y1="250" x2="350" y2="250" class="link"/>

                <!-- Servidor -->
                <image href="https://img.icons8.com/papercut/60/server.png" x="185" y="135" width="40" height="40" class="icon"/>
                <text x="200" y="175" dy="5" class="label">Servidor</text>
                <line x1="200" y1="115" x2="200" y2="135" class="link"/>
            </svg>


            <!-- El SVG de la red actual se agregará aquí mediante JavaScript -->
        </div>
        <button onclick="actualizarRed()">Mostrar Red</button>
    </div>
<script>
    // Función para generar una topología de red aleatoria
    function generarTopologiaAleatoria() {
        // Aquí puedes generar la topología de red aleatoria
        // Por ahora, simplemente devolveré un SVG de muestra
        return `
            <svg width="800" height="400">}
            <!-- Servidor -->
            <image href="https://img.icons8.com/papercut/60/server.png" x="100" y="50" width="50" height="50" class="icon"/>
            <text x="100" y="40" dy="5" class="label">Proxi Server</text>
            <line x1="130" y1="50" x2="200" y2="130" class="link"/>
            
            <!-- Servidor Secretaria -->
            <image href="https://img.icons8.com/papercut/60/server.png" x="100" y="150" width="50" height="50" class="icon"/>
            <text x="100" y="140" dy="5" class="label">Server Secretaria</text>
            <line x1="135" y1="150" x2="200" y2="170" class="link"/>

            <!-- Servidor Estudiantes -->
            <image href="https://img.icons8.com/papercut/60/server.png" x="100" y="250" width="50" height="50" class="icon"/>
            <text x="100" y="240" dy="5" class="label">Server Estudiantes</text>
            <line x1="135" y1="250" x2="200" y2="220" class="link"/>
            
            <!-- Servidor Maestros -->
            <image href="https://img.icons8.com/papercut/60/server.png" x="100" y="350" width="50" height="50" class="icon"/>
            <text x="100" y="340" dy="5" class="label">Server Maestros</text>
            <line x1="135" y1="350" x2="200" y2="270" class="link"/>
            
            <!-- Switch -->
            <rect x="200" y="100" width="100" height="200" fill="#A9A9A9"/>
            <text x="250" y="200" dy="5" text-anchor="middle" fill="white">Switch</text>

            <!-- PC en Aula 1 -->
            <image href="https://img.icons8.com/color/48/imac.png" x="370" y="40" width="30" height="30" class="icon"/>
            <text x="350" y="50" dy="5" class="label">PC 1</text>
            <line x1="300" y1="110" x2="335" y2="50" class="link"/>
            
            <!-- PC en Aula 2 -->
            <image href="https://img.icons8.com/color/48/imac.png" x="370" y="90" width="30" height="30" class="icon"/>
            <text x="350" y="100" dy="5" class="label">PC 2</text>
            <line x1="300" y1="135" x2="335" y2="100" class="link"/>
            
            <!-- PC en Aula 3 -->
            <image href="https://img.icons8.com/color/48/imac.png" x="370" y="140" width="30" height="30" class="icon"/>
            <text x="350" y="150" dy="5" class="label">PC 3</text>
            <line x1="300" y1="150" x2="335" y2="150" class="link"/>
            
            <!-- PC en Aula 4 -->
            <image href="https://img.icons8.com/color/48/imac.png" x="370" y="190" width="30" height="30" class="icon"/>
            <text x="350" y="200" dy="5" class="label">PC 4</text>
            <line x1="300" y1="175" x2="335" y2="200" class="link"/>
            
            <!-- PC en Aula 5 -->
            <image href="https://img.icons8.com/color/48/imac.png" x="370" y="240" width="30" height="30" class="icon"/>
            <text x="350" y="250" dy="5" class="label">PC 5</text>
            <line x1="300" y1="200" x2="335" y2="250" class="link"/>
            
            <!-- router wifi-->
            <image href="https://img.icons8.com/fluency/48/wifi-router.png" x="370" y="280" width="40" height="40" class="icon"/>
            <text x="335" y="310" dy="5" class="label">router de wifi</text>
            <line x1="300" y1="225" x2="335" y2="300" class="link"/>

            <!-- Impresora Secretaria-->
            <image href="https://img.icons8.com/color/48/send-to-printer.png" x="485" y="60" width="40" height="40" class="icon"/>
            <text x="450" y="80" dy="5" class="label">Impresora</text>
            <line x1="400" y1="50" x2="435" y2="75" class="link"/>
            
            <!-- Impresora wifi-->
            <image href="https://img.icons8.com/color/48/send-to-printer.png" x="530" y="275" width="40" height="40" class="icon"/>
            <text x="500" y="290" dy="5" class="label">Impresora</text>
            <line x1="410" y1="310" x2="475" y2="295" class="link"/>
            
            <!-- Celular-->
            <image href="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-smartphone-digital-nomading-relocation-flaticons-lineal-color-flat-icons.png" x="530" y="200" width="40" height="40" class="icon"/>
            <text x="500" y="220" dy="5" class="label">Celular</text>
            <line x1="410" y1="304" x2="475" y2="220" class="link"/>

            <!-- Laptop-->
            <image href="https://img.icons8.com/fluency/48/laptop.png" x="530" y="350" width="50" height="50" class="icon"/>
            <text x="500" y="370" dy="5" class="label">Laptop</text>
            <line x1="410" y1="308" x2="475" y2="375" class="link"/>
        </svg>

        `;            
        
    }

    // Función para actualizar la red con una topología aleatoria
    function actualizarRed() {
        var networkDiagram = document.getElementById("network-diagram");
        // Generar la topología de red aleatoria
        var nuevaRed = generarTopologiaAleatoria();
        // Actualizar el contenido de la red
        networkDiagram.innerHTML = nuevaRed;
    }
</script>     

<div id="chat-icon" onclick="toggleChatbox()"></div> <!-- Icono de chat -->

<!-- Chatbox -->
<div id="chatbox">
    <h2 align='center'>ADN Telecom</h2>
    <h1 align='center'><img src="static/image/chatbox1.gif" alt="top" width="150px" height="150px"></h1>
    <div id="messages"></div>
    <div class="input-container">
        <input type="text" id="userInput" placeholder="Escribe tu mensaje...">
        <button onclick="sendMessage()">Enviar</button>
    </div>
</div>

<script>
    function toggleChatbox() {
        const chatbox = document.getElementById('chatbox');
        if (chatbox.style.display === 'none') {
            chatbox.style.display = 'block';
        } else {
            chatbox.style.display = 'none';
        }
    }

    function sendMessage() {
        const userInput = document.getElementById('userInput');
        const message = userInput.value.trim();
        if (message === '') return;
        displayMessage(message, 'user-message');

        fetch('/get_response', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ message: message }),
        })
        .then(response => response.json())
        .then(data => {
            displayMessage(data.response, 'bot-message');
        });

        userInput.value = '';
    }

    function displayMessage(message, className) {
        const messageElement = document.createElement('div');
        messageElement.className = `message ${className}`;
        messageElement.textContent = message;
        document.getElementById('messages').appendChild(messageElement);
        document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;
    }
</script>
 
</body>
</html>