<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trafico en vivo</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <img src="/static/image/logo.png" class="header__logo" />
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/usuario">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/estadisticas">Estadisticas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/recomendaciones">Recomendaciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/trafico">Trafico</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Salir</a>
                  </li>
                </ul>
                <span class="navbar-text">
                
                </span>
              </div>
            </div>
          </nav>
      </div>
      <h1>Tráfico en Vivo</h1>
      <img src="{{ url_for('static', filename=plot_path.replace('static/', '')) }}" alt="Gráfico de tráfico en vivo">
</body>
</body>
</html>