<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/recomendaciones.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.css">
    
   

    <title>Recomendaciones</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4404/4404366.png" type="image/png" />
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <img src="/static/image/logo.png" class="header__logo" />
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/usuario">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/estadisticas">Estadisticas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recomendaciones">Recomendaciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/trafico">Trafico</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Salir</a>
              </li>
            </ul>
            <span class="navbar-text">
            
            </span>
          </div>
        </div>
      </nav>
    </div>
    <div class="caja">
      <div class="container-md">
      <div>
        <h1>Recomendaciones de Componentes de Red</h1>
        <form id="recomendacionesForm" method="post">
            <input type="hidden" id="sliderInput" name="num_recommendations" value="{{ num_recommendations }}">
            <div id="slider"></div>
            <div><h4>Número de recomendaciones</h4><h4 id="slider-value">{{ num_recommendations }}</h4></div>
        </form>
       </div>
        
  
        <!-- Tarjetas de recomendaciones -->
        <div class="row mt-5">
          {% for item in recomend %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="{{ item['Imagen'] }}"
                class="card-img-top"
                alt="Imagen de componente"
              />
              <div class="card-body">
                <h5 class="card-title">{{ item['Modelo'] }}</h5>
                <p class="card-text">
                  <strong>Modelo:</strong> {{ item['Equipo'] }}<br />
                  <strong>Marca:</strong> {{ item['Marca'] }}<br />
                  <strong>Costo:</strong> {{ item['Costo'] }}<br />
                  <strong>Año:</strong> {{ item['Año'] }}<br />
                  <strong>Velocidad de red:</strong> {{ item['Velocidad de Red'] }} Gbps<br />
                  <strong>Índice de aprobación:</strong> {{item['approval_Index']}}% 
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
       
      </div>
    </div>
  </div>
      <script src="/static/slider.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>
      
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     
</body>
</html>
