/* Estilos para el encabezado */
.header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

/* Estilos para el logo */
.header__logo {
    height: 50px;
}

/* Estilos para la navegación */
.header__nav {
    background-color: #343a40;
    color: #fff;
}

.header__nav-item {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.header__nav-item a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para la tabla de recomendaciones */
.recomendaciones-table {
    width: 100%;
    border-collapse: collapse;
}

.recomendaciones-table th, .recomendaciones-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.recomendaciones-table th {
    background-color: #4CAF50;
    color: white;
}
.titulo_tabla{
    text-align: center;
}
#chartEquipos, #chartRecomendaciones, #aprobacionChart {
    width: 80% !important;
    height: 70% !important;
    padding-left: 10%;
    padding-bottom: 50px;
}
.container-sm{
    margin-top: 20px;
    margin-bottom: 60px;  
    background-color: #e9e9e9;
    border-radius: 25px;
}
body{
    background-color: rgba(5, 112, 155, 0.507);
}
h1{
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}
h2{
    text-align: center;
    padding-bottom: 40px;
}
.chartRecomendaciones{
   position:relative;
   
}