.mt-5{
  background-color: blanchedalmond;
  border-radius: 15px;
  padding: 10px;
}

.header {
  padding: 20px;
  text-align: center;
}

/* Estilos para el logo */
.header__logo {
  height: 50px;
}

/* Estilos para la navegación */
.header__nav {
  background-color: #343a40;
  color: #fff;
}

.header__nav-item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.header__nav-item a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para la tabla de recomendaciones */
.recomendaciones-table {
  width: 100%;
  border-collapse: collapse;
}

.recomendaciones-table th,
.recomendaciones-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.recomendaciones-table th {
  background-color: #4caf50;
  color: white;
}
.titulo_tabla {
  text-align: center;
}
#slider-container {
  width: 60%;
  padding: 10px;
  
}

#slider {
  width: 60%;
  margin: auto;
  background-color: rgb(143, 214, 255);
  height: 10px;
}

.noUi-handle {
  background: #5021fa;
  border-radius: 20px;
}

.noUi-tooltip {
  display: none;
  
}  

.noUi-horizontal .noUi-handle {
  height: 10px;
  width:10px;
  background-color: #4836e4;
  border-radius:40%;
}

.noUi-horizontal {
  height: 10px;
  border-radius: 50%;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.875rem;
}

h1{
  padding-top: 80px;
  text-align: center;
  padding-bottom: 50px;
}

.container-md{
  margin-top: 20px;
  margin-bottom: 60px;  
  background-color: blanchedalmond;
  border-radius: 25px;
}
h4{
  padding-top: 40px;
  text-align: center;
}

.caja{
  background: url("/static/fondo1.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 30px;
}
body{
  background: url("/static/fondo1.jpg") no-repeat center center fixed;
    background-size: cover;
}