body {
  font-family: Arial, sans-serif;
  background: url("/static/fondo1.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #333;
}
.network-diagram {
  text-align: center;
  margin-top: 20px;
}
.node {
  fill: #4caf50;
  stroke: #333;
  stroke-width: 2px;
}
.link {
  stroke: #999;
  stroke-width: 2px;
}
.label {
  font-size: 12px;
  fill: #000;
  text-anchor: middle;
}
/* Estilos para el logo */
.header__logo {
  height: 50px;
}