<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/listar.css" />
    <link rel="stylesheet" href="/static/chatbot.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <title>Usuarios</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4404/4404366.png" type="image/png" />
  </head>
  <body>
    
    <div>
        
      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <img src="/static/image/logo.png" class="header__logo" />
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/listar">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resultados">Resultados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/componentes">Componentes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/estructura">Estructura</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Salir</a>
              </li>
            </ul>
            <span class="navbar-text">
            
            </span>
          </div>
        </div>
      </nav>
        </div>
    <!-----lista de usuarios-->




    
    {% if usuarios %}
    <div>
        <h2 class="titulo_user">Lista de usuarios</h2>
        <button class="btn btn-success" onclick="location.href='/registro';">Agregar Usuario</button>
    </div>
    <div class="caja">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nro</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Password</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for mostrar in usuarios %}
                <tr>
                    <th scope="row">{{ mostrar.id }}</th>
                    <td>{{ mostrar.nombre }}</td>
                    <td>{{ mostrar.correo }}</td>
                    <td>{{ mostrar.password }}</td>
                    <td>
                        <a href="/modificar/{{ mostrar.id }}" class="btn btn-primary">Editar</a>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarUsuarioModal{{ mostrar.id }}">Eliminar</button>

                        <!-- Modal para eliminar usuario -->
                        <div class="modal fade" id="eliminarUsuarioModal{{ mostrar.id }}" tabindex="-1" aria-labelledby="eliminarUsuarioModalLabel{{ mostrar.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="eliminarUsuarioModalLabel{{ mostrar.id }}">Confirmar Eliminación</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Estás seguro de que deseas eliminar este usuario?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a href="/eliminar/{{ mostrar.id }}" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No hay datos</p>
    {% endif %}
    </div>
    <!---------------------->
    

    <div id="chat-icon" onclick="toggleChatbox()"></div> <!-- Icono de chat -->

    <!-- Chatbox -->
    <div id="chatbox">
        <h2 align='center'>ADN Telecom</h2>
        <h1 align='center'><img src="static/image/chatbox1.gif" alt="top" width="150px" height="150px"></h1>
        <div id="messages"></div>
        <div class="input-container">
            <input type="text" id="userInput" placeholder="Escribe tu mensaje...">
            <button onclick="sendMessage()">Enviar</button>
        </div>
    </div>
    
    <script>
        function toggleChatbox() {
            const chatbox = document.getElementById('chatbox');
            if (chatbox.style.display === 'none') {
                chatbox.style.display = 'block';
            } else {
                chatbox.style.display = 'none';
            }
        }
    
        function sendMessage() {
            const userInput = document.getElementById('userInput');
            const message = userInput.value.trim();
            if (message === '') return;
            displayMessage(message, 'user-message');
    
            fetch('/get_response', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ message: message }),
            })
            .then(response => response.json())
            .then(data => {
                displayMessage(data.response, 'bot-message');
            });
    
            userInput.value = '';
        }
    
        function displayMessage(message, className) {
            const messageElement = document.createElement('div');
            messageElement.className = `message ${className}`;
            messageElement.textContent = message;
            document.getElementById('messages').appendChild(messageElement);
            document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;
        }
    </script>

  </body>
</html>
